extends layout.pug

block content
  div.fullscreen
    div.main-deck
      div.main-card.z-depth-1
      div.main-card.z-depth-1
      div.main-card.z-depth-1
      div.main-card.z-depth-1
      div.main-card.z-depth-1
      div.main-card.z-depth-1
    include header.pug
