extends layout.pug

block content
  div#panel-login.center
    div#panel-login-username
      input(id='username' class='loginbox' type='text' placeholder='Username')
    div#panel-login-password
      input(id='password' class='loginbox' type='password' placeholder='Password')
    button#btnLogin.btnDefault Login
    button#btnRegister.btnDefault Register
