doctype html
html
  head
    title ChinguCentral
    link(rel='stylesheet', href='index.css')
  body
    div.container
      h1 ChinguCentral
      input(class="input" id="username" placeholder="Username")
      input(class="input" id="password" placeholder="Password")
      button Login
