extends layout.pug

block content
  div.fullscreen
    div#panel-login.z-depth-1.center
      div.inputs
        input(type='text' placeholder='Username')#username
        input(type='password' placeholder='Password')#password.topSpacer
      div.buttons
        div.btnDefault.btnRegister Register
        div.btnDefault.btnLogin Login
